<div class="register-screen">
  <h1 class="app-title">BUILD YOUR SHOOTER IDENTITY</h1>
  <div class="step-indicator">Step {{ currentStep }} of 2</div>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- STEP 1 -->
    <div *ngIf="currentStep === 1">
      <div class="card">
        <span class="nickname" for="nickname">Nickname</span>
        <input
          id="nickname"
          formControlName="nickname"
          placeholder="Choose your nickname"
        />
      </div>
      <div class="card">
        <span class="nickname" for="nickname">Email</span>
        <input
          id="email"
          formControlName="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="card">
        <span>Shooter Level</span>
        <div class="level-selector">
          <button
            *ngFor="let level of levels"
            type="button"
            [class.active]="registerForm.value.level === level.value"
            (click)="selectLevel(level.value)"
          >
            {{ level.label }}
          </button>
        </div>
      </div>
      <div class="card">
        <span for="password">Password</span>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            placeholder="Create a password"
          />
          <button
            type="button"
            class="toggle-password"
            (click)="togglePassword()"
          >
            {{ showPassword ? "🙈" : "👁️" }}
          </button>
        </div>
      </div>

      <button
        class="primary-btn"
        type="button"
        (click)="nextStep()"
        [disabled]="!step1Valid()"
      >
        Continue
      </button>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="currentStep === 2">
      <div class="card">
        <span class="optional"
          >(optional - This helps you standout and your friends can recognize
          you)</span
        >

        <div class="photo-upload-row">
          <div class="avatar-preview">
            <img *ngIf="previewImage" [src]="previewImage" />
            <ion-icon
              *ngIf="!previewImage"
              name="person-circle-outline"
            ></ion-icon>
          </div>
          <button
            type="button"
            class="upload-btn"
            (click)="selectImageSource()"
          >
            Upload Photo
          </button>
        </div>
      </div>
      <div class="card">
        <label for="location"
          >Location
          <span class="optional"
            >(optional - Good if you want to enter location based
            competitions)</span
          ></label
        >
        <input
          id="location"
          formControlName="location"
          placeholder="City or Zip"
        />
      </div>
      <div class="card">
        <label for="email"
          >Email
          <span class="optional"
            >(optional - For passowrd recovery, If we dont have an email we wont
            be able to recover your password in the case you lose it)</span
          ></label
        >
        <br />
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="you@example.com"
        />
      </div>

      <div class="step-controls">
        <button class="secondary-btn" type="button" (click)="prevStep()">
          Back
        </button>
        <button class="primary-btn" type="submit">Start Shooting</button>
      </div>
    </div>
  </form>
</div>
