section {
  display: block;
  height: 95vh;
  padding-bottom: 120px; // 🧼 makes room under content for FAB
  background: radial-gradient(circle at center, #1b242d 0%, #0d1115 100%);
  color: #f2f2f2;
  overflow-y: auto;
  position: relative;
}
