<div class="challenge-list">
  <div class="header">
    <h2>Challenges</h2>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterChallenges()"
      placeholder="Search challenges..."
    />
  </div>

  <div class="challenge-scroll">
    <div class="section-title" *ngIf="filteredMyChallenges.length > 0">
      MY CHALLENGES
    </div>
    <app-challenge-card
      *ngFor="let c of filteredMyChallenges"
      [challenge]="c"
      cardType="mine"
      (click)="onChallengeClick(c)"
    ></app-challenge-card>

    <div class="section-title" *ngIf="filteredGlobalChallenges.length > 0">
      GLOBAL CHALLENGES
    </div>
    <app-challenge-card
      *ngFor="let c of filteredGlobalChallenges"
      [challenge]="c"
      cardType="global"
      (click)="onChallengeClick(c)"
    ></app-challenge-card>
  </div>
</div>
