<div class="challenge-list">
  <!-- Tabs -->
  <div class="tab-row">
    <button
      *ngFor="let tab of tabs"
      class="tab"
      [class.active]="activeTab === tab.key"
      (click)="onTabClick(tab.key)"
    >
      {{ tab.label }}
    </button>
  </div>

  <!-- Challenge Cards -->
  <div class="challenge-scroll">
    <app-challenge-card
      *ngFor="let c of filteredChallenges"
      [challenge]="c"
      [cardType]="c.type"
      (click)="onChallengeClick(c)"
    ></app-challenge-card>
  </div>
</div>
