.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d1115;
  color: white;

  .title {
    font-size: 1.875rem;
    font-weight: 800;
    color: #c9a84e;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    .avatar-wrapper {
      position: relative;
      display: inline-block;

      .avatar {
        width: 3rem;
        height: 3rem;
        border-radius: 9999px;
        border: 2px solid #c9a84e;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      }

      .settings-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        background: #0d1115;
        border: 2px solid #c9a84e;
        border-radius: 50%;
        padding: 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 0.9rem;
          height: 0.9rem;
        }
      }
    }

    .greeting {
      margin-top: 0.5rem;
      font-size: 1.125rem;
      font-weight: 600;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .rank-summary {
      text-align: center;

      .badge {
        width: 3rem;
        height: 3rem;
      }

      .rank-name {
        color: #c9a84e;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }

      .score {
        color: white;
        font-weight: 700;
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }
    }
  }
}
.mat-icon {
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  overflow: hidden;
  font-size: 15px;
  height: auto;
  width: auto;
}
