<div class="stats-tabs">
  <button
    (click)="selectedTab = 'overview'"
    [class.active]="selectedTab === 'overview'"
  >
    Overview
  </button>
  <button
    (click)="selectedTab = 'history'"
    [class.active]="selectedTab === 'history'"
  >
    History
  </button>
  <button (click)="selectedTab = 'pro'" [class.active]="selectedTab === 'pro'">
    Pro Insights
  </button>
</div>

<div class="tab-content">
  <app-stats-overview *ngIf="selectedTab === 'overview'"></app-stats-overview>
  <app-stats-history *ngIf="selectedTab === 'history'"></app-stats-history>
  <app-stats-pro *ngIf="selectedTab === 'pro'"></app-stats-pro>
</div>
